*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

nav{
    background-color:black;
    width:100%;
    display: inline-block;
    padding: 18px 60px;
    
}

nav ul{
    margin: 0;
    padding: 0;
}
nav ul li{
    /*
    display: inline;
     list-style-type: none;
     margin: 20px;
     */
     
    
   display:inline-block;
   font-size:19px;
   margin:21px;
   vertical-align:bottom;
   line-height:normal;
   
}
nav ul li a{
    text-decoration: none;
    color:red;
    cursor: pointer;
}
.logo h3{
    color: white;
    position:absolute;
    font-style: italic;
    font-weight: 900;
    left:311px;
    top:71px;
    margin:0px 16px 16px 0px;
}
.hero {
    background-image: url("./Image/hero\ .jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height:500px;
}
.hero p, h1{
    text-align: center;
    margin-top: 30px;
    color: white;
}


.card{
    height: 400px;
    width: 300px;
    border: 1px solid red;
    margin-left: auto;
    margin-right: auto;
}

.card h3{
text-align: center;
color: white;
}
.card button{
    background-color:white;
    border-radius: 15px;
    width:15%;
    height:15%;
    margin: 0 auto;
  display: block;

}

.footer{
    background-image:url("./Image/footer.jpeg") ;
    background-position: center;
    background-repeat: no-repeat;
}
.footer h5, p{
 text-align: center;
 font-family: serif;
 font-style: italic;
 font-size: 20px;
 margin-bottom: 20px;
 color: white;
}
.footer ul li {
    display: inline-block;
    margin: 20px;
    align-items: center;
    width: 10%;
    margin-left: 90px;
    cursor: pointer;
    color: white;


}
.footer ul li:hover{
    background-color: wheat;
    border-radius: 40px;
    width: 15px;
}
.footer a{
text-align: center;
color: white;
text-decoration: none;
font-size: 20px;
}

@media (max-width: 768px) {
    .nav {
        display: none;
        position: absolute;
        background-color: teal;
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
    }

    .nav li+li {
        margin-top: 12px;
    }



    .hero {
        display: block;
    }


}
